.container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 24px;
}

.setting-item__link,
.setting-item__button,
.setting-item__warning {
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 500;
}
