.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;

  &--not-served {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    height: 100px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;

  &__title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
  }

  & > div {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.tag {
  &__danger,
  &__warning {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
  }

  &__danger {
    color: #ec2d30;
    background: #ffccd2;
  }

  &__warning {
    color: #ffad0d;
    background: #fff7e1;
  }
}

.toggle-title {
  color: #4b4b4b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.content-wrapper {
  overflow: hidden;
}

.content {
  transition: margin 0.4s cubic-bezier(0.48, 0, 0.58, 1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 16px;
}

.content--hidden {
  transition: margin 0.4s cubic-bezier(0.48, 0, 0.58, 1);
  margin-top: -100%;
}

.image-trigger {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: none;

  & > img {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 147 / 95;
  }
}

.no-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  aspect-ratio: 147 / 95;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #cacaca;
  background: #fafafa;

  &--description {
    color: #8e8e8e;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
  }
}

.menus {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.divider {
  width: calc(100% - 48px);
  margin-inline: 24px;
  height: 2px;
  background: #eee;
  border-radius: 2px;
}

.toggle-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px 24px;
  background: none;

  & > span {
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}

.arrow-icon {
  transition: all 0.4s ease;

  &--open {
    transform: rotate(180deg);
  }
}
