@use "src/assets/styles/mediaQuery" as media;

.copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: #727272;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 64px;
}
