.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 24px 10px;
  background-color: #fff;
}

.day {
  width: 28px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.day-of-week {
  font-family: Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: #8e8e8e;

  &--after,
  &--selected {
    color: #4b4b4b;
  }
}

.date {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: center;
  color: #000;
  width: 28px;
  height: 28px;
  border-radius: 99px;
  background-color: transparent;
  border: none;
  padding-top: 2px;
  box-sizing: border-box;

  &--previous {
    color: #8e8e8e;
  }

  &--today {
    font-size: 15px;
    line-height: 24px;
    color: #175c8e;
    border: 1px solid #175c8e;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      border: 1px solid #175c8e;
      width: 11.5px;
      border-radius: 10px;
    }
  }

  &--selected {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    background-color: #175c8e;
  }
}
