.button-container {
  display: flex;
  gap: 16px;
  align-items: center;

  & > button {
    background: none;
  }
}

.button-prev,
.button-next {
  &:hover {
    background-color: #e1e1e1;
    border-radius: 999px;
    cursor: pointer;
  }
}

.button-today {
  min-width: 48px;
  text-align: center;
  cursor: default;
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */

  &:hover {
    background-color: #e1e1e1;
    border-radius: 999px;
    cursor: pointer;
  }
}
