@use "src/assets/styles/mediaQuery" as media;

.container {
  display: flex;
  justify-content: center;
  max-width: 989px;
  width: 100%;
  margin: 0 auto;
  gap: 10px;

  @include media.media-breakpoint-down(mobile) {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
}

.diningDownloadWrapper {
  display: flex;
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 12px;
  width: 100%;

  @include media.media-breakpoint-down(mobile) {
    box-sizing: border-box;
  }
}

.calendarWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  
  @include media.media-breakpoint-down(mobile) {
    flex-direction: column;
    max-width: 480px;
    width: 100%;
  }
}

.diningTypeWrapper {

  @include media.media-breakpoint-down(mobile) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
}