.button-container {
  display: flex;
  background: #fff;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

.dining-download-button {
  display: flex;
  background: #fff;
  border: none;
  color: #171717;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 2px 0 0 4px;
}

.exel-icon {
  padding-top: 3px;
}
