.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000066;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 301px;
  height: 179px;
  padding: 24px 32px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;

  & button {
    width: 114.5px;
    height: 48px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__close {
    font-family: Pretendard, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #8e8e8e;
    background-color: #fff;
    color: #4b4b4b;
  }

  &__confirm {
    font-family: Pretendard, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    background-color: #175c8e;
    color: #fff;

    &--not-operating {
      background-color: #f7941e;
    }
  }
}
