@use "src/assets/styles/mediaQuery" as media;
@forward "src/assets/styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  max-width: 480px;
}

body,
html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: Pretandard, sans-serif;
}

button {
  border: none;
  font-family: Pretandard, sans-serif;
}

a,
button {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  color: #000;
}

ul {
  list-style: none;
}
