.overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #00000066;
  z-index: 1000;
}

.date-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 40px;
  gap: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
}

.title--container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 24px 16px 33px;
}

.title--main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title--main {
  font-size: 20px;
  font-weight: 700;
}

.title--sub {
  font-size: 14px;
  font-weight: 400;
  color: #727272;
}

.date-start-container,
.date-end-container {
  display: flex;
  align-items: center;
}

.start--title,
.end--title {
  display: flex;
  padding: 12px;
  max-height: 12px;
  border-radius: 4px;
  background-color: #e1e1e1;
  font-size: 13px;
  font-weight: 600;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;
}

.date-input {
  display: flex;
  align-items: center;
}

.year-input-box {
  display: flex;
  max-width: 35px;
  max-height: 12px;
  padding: 12px;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  text-align: center;

  font-family: Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.month-input-box,
.day-input-box {
  display: flex;
  max-width: 22px;
  max-height: 12px;
  padding: 12px;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  text-align: center;

  font-family: Pretendard, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.input-box-slash {
  display: flex;
  width: 5px;
  height: 19px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 16px;
}

.toggle-container {
  display: flex;
  gap: 22px;
  padding: 8px 48px 8px 72px;
  justify-content: flex-end;
  align-items: center;
  position: relative;


  & > label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.excel-download-button {
  align-items: center;
}

.photo-download-button {
  width: 18.5px;
  height: 18.5px;
}

.button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.excel-button-container {
  display: flex;
  width: 258px;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #175c8e;
}

.photo-button-container {
  display: flex;
  width: 258px;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #727272;
}
